<!DOCTYPE html>
<html lang="en">

<head>
  <script src="http://code.jquery.com/jquery.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../js/funciones.js"></script>
  <title>Inicio</title>
</head>

<body>

  <img src="../images/LogoUMG.png" width="201" height="176" alt="imagenUMG" title="Imagen Universidad Mariano Galvez"
    align="right">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbar-bottom/">
  <link rel="stylesheet" href="../css/bootstrap.min.css">



  <div class="container">
    <h1>Bienvenidos</h1><br>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href={% url 'home:homeapp' %} title="Enlace Home" class="nav-link active"
            aria-current="page">Home</a></li>
        <li class="nav-item"><a href={% url 'home:estudiantesapp' %} title="Enlace Astudiantes" class="nav-link">Estudiantes</a></li>
        <li class="nav-item"><a href={% url 'home:administradoresapp' %} title="Enlace Administradores" class="nav-link">Administradores</a></li>
        <li class="nav-item"><a href={% url 'home:homeapp' %} title="Mi enlace" class="nav-link">Acerca de</a></li>
      </ul>
    </header>
  </div>
  <br>
  <a class="btn btn-lg btn-primary" href="../html/iniciosesion.html" role="button">Inicia Sesión Aqui</a>
  <button id="btnaceptar" class="btn btn-lg btn-primary">Aceptar</button>
    <button id="btnagregar" class="btn btn-lg btn-primary">Agregar</button>
    <button id="btnocultar" class="btn btn-lg btn-primary">Ocultar</button>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <footer class="py-3 my-4">
    <p class="text-center text-muted">Ludim Monterroso <br> 0903-19-22699</p>
  </footer>

</body>

</html>